</div>
</div>
[% IF footer.links %]
<div class="row">
    <div id="footer">
        <a href="/">home</a>
        <a href="https://github.com/renderorange/pasteburn">code</a>
        <a href="/about">about</a>
    </div>
</div>
[% END %]
</div>
[% IF path == 'secret/id' %]
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script src="/js/copy.js"></script>
[% END %]
</body>

</html>
