</div>
</div>
<div class="row">
    <div id="footer">
        <a href="/">home</a>
        <a href="https://github.com/renderorange/pasteburn">code</a>
        <a href="/about">about</a>
    </div>
</div>
</div>
</body>

</html>
