[% INCLUDE includes/header.tt
   title = 'Sharable, encrypted, ephemeral pastebin'
%]
[% IF message %]<p class="message">[% message %]</p>[% END %]
<div id="marketing">
[% IF author %]
    <h1>Copy and send this link to share your secret</h1>
    <p>viewing the secret requires the passphrase it was created with</p>
</div>
<a class="button" href="[% uri %]/secret/[% id %]">Secret Link</a>
[% END %]

[% INCLUDE includes/footer.tt %]
