[% INCLUDE includes/header.tt
   title = 'Sharable, encrypted, ephemeral pastebin'
%]
[% IF message %]<p class="message">[% message %]</p>[% END %]
<div id="marketing">
    <h1>Share this link:</h1>
    <a href="#">[% uri %][% route %]</a>
</div>

[% INCLUDE includes/footer.tt %]
