/* redefine */

body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    max-width: 650px;
}

#marketing {
    margin-bottom: 1.4rem;
}

h1, h2, h3 {
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    line-height: 1.3em;
    margin-bottom: 1.1rem;
}

body a {
    color: #757575;
}

body a:hover {
    color: #4d4d4d;
}

form {
    margin-bottom: 0;
}

#marketing p {
    color: #737373;
    font-style: italic;
    margin-bottom: 0;
}

@media (max-width: 571px) {
    div#actions a.button { width: 99% !important; }
}

textarea {
    min-height: 100px;
    margin-bottom: 1rem;
    resize: none;
}

input[type="text"]:focus, textarea:focus {
    border-color: #5b5b5b;
}

input[type="submit"].button-primary {
    background-color: #686868;
    border-color: #686868;
}

input[type="submit"].button-primary:hover {
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}

div#actions {
    width: 100%;
}

div#actions a.button.half-width {
    width: 49%;
    margin-right: 0.25rem;
}

div#actions input#view {
    width: 99%;
}

div#actions form#view_form {
    display: hidden;
}

div#actions input#delete {
    width: 99%;
    border-color: rgba(158,28,35,.2);
    background-color: #ffe3e6;
}

div#actions input#delete:hover {
    border-color: rgba(158,28,35,0.42);
    background-color: #fde1e4;
}

div#actions form#delete_form {
    display: hidden;
}

div.section {
    margin-bottom: 1em;
}

#footer {
    margin: 0.75rem 0;
}

#footer a {
    color: #333;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-right: 1rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* flash messages */
p.message {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    letter-spacing: 0.09rem;
    line-height: 38px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #bbb;
    font-size: 1rem;
    font-weight: 600;
}

p.message.success {
    background-color: #d4edda;
    border-color: #88b192;
}

p.message.error {
    background-color: #f8d7da;
    border-color: rgba(158,28,35,0.42);
}
