/* redefine */

body {
    color: #333;
}

.container {
    max-width: 650px;
}

#marketing {
    margin-bottom: 1.4rem;
}

h1, h2, h3 {
    margin-bottom: 0.25rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    margin-bottom: 1.1rem;
}

form {
    margin-bottom: 0;
}

#marketing p {
    color: #737373;
    font-style: italic;
    margin-bottom: 0;
}

@media (min-width: 550px) {
    h1 { font-size: 2.8rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 1.7rem; }
}

textarea {
    min-height: 100px;
}

input[type="submit"].button-primary {
    background-color: #686868;
    border-color: #686868;
}

input[type="submit"].button-primary:hover {
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}

div#actions {
    width: 100%;
}

div#actions a.button {
    width: 49%;
    margin-right: 0.25rem;
}

div#actions input#delete {
    width: 99%;
    border-color: rgba(158,28,35,.2);
    background-color: #ffe3e6;
}

div#actions input#delete:hover {
    border-color: rgba(158,28,35,0.42);
    background-color: #fde1e4;
}

div#actions form#delete_form {
    display: hidden;
}

#footer {
    margin-top: 0.75rem;
}

#footer a {
    color: #333;
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-right: 1rem;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
